/* CSS Borders */


/* 1. border-style 
2. border-width
3. border-color
4. border-sides
5. border shorthand
6. rounded borders

*/


/* 1. border-style  */

body {
    background-color: #fff;
}


/* .parentDiv {
    height: 100%;
    margin-left: 20px;
    width: 40%;
    background-color: teal;
} */

#myCard {
    margin-top: 20px;
    /* border: solid 15px #ffc322; */
    border-radius: 10px;
    width: 21%;
    height: 60%;
    background-color: #fff;
    margin-left: 120px;
    box-shadow: 0 5px 5px 0 #ccc;
}

img {
    border-radius: 10px;
}

p {
    font-size: 25px;
    margin-left: 20px;
    padding: 20px;
}

h2 {
    margin-left: 40px;
}